.dialog-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
}

.dialog-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;    
}

.dialog-inner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: center;
    align-content: center;
}

.dialog-form{
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
}

.form-heading{

    text-align: left;
    padding:10px;
    font-weight: 800;
}

.form-heading span {
    float: right;
    opacity: 0.6;
    cursor: pointer;
}

.form-heading span:hover{
    opacity: 1;
    color: red;
}

.form-content {
    margin: 0 auto;
    width: max-content;
    padding: 10px;
}

#add-device-submit{
    text-align: center;
    margin: 20px;
}
