.list-property {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    border: 1px solid #6d5858;
    background-color: whitesmoke;
}

.list-property li{
    display: inline-block;
    padding: 20px 40px;
}

.list-property li span {
    padding:5px;
}

.btn-remove {
    font-size: 25px;
    color: red;
    cursor: pointer;
    float: right;
    padding: 20px;
}