
.item-device{
    cursor: pointer;
    background-color: whitesmoke;
    position: relative;
}

.item-device:hover{
    background-color: white;
    
}
.list-property {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    
    
}

.list-property li{
    display: inline-block;
    padding: 20px 40px;
}

.list-property li span {
    padding:5px;
}

.btn-remove {
    position: absolute;
    font-size: 25px;
    color: red;
    cursor: pointer;
    padding: 20px;
    right: 0;
}