.nav-container {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: black;
    color: white;
    padding: 10px;

}

.nav-container-inner{
    width: 100%;
    height: 100%;
}

.nav-menu{
    display: block;
    height: 100%;
    padding-top: 20px;
}

.nav-menu-item{

}

.item-header{
    background-color: #043831;
    padding: 10px;
    text-transform: uppercase;

}

.item-content{
   
    font-size: 15px;
    color: white;
    
}

.item-content p{
    opacity: 0.6;
}

.item-content p:hover{
    opacity: 1;
}

.item-content a {
    color: inherit;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.item-active {
    opacity: 1!important;
}

.item-content p {
    padding: 5px;
    cursor: pointer;
    margin:  0; 
    padding-left: 20px;
}

.item-content p i {
    padding: 0 5px;
}

#list-device{
    
}





